/* for heading we use:Poppins fonts and for paragraph  we will use Roboto fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

/* set some default value */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section:20px;  /* left-right padding increase */
}

/* for heading */
body{
    font-family: 'Poppins', sans-serif;
    color:var(--primary-text-color);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
/* for paragraph */
p{
    font-family: 'Poppins',sans-serif;
    color: var(--secondary-text-color);
    font-size: 1.25rem;
    line-height: 1.8rem;
}
/* anchor tag */
a{
    text-decoration: none;
    display: inline-block;
}   

/* utility classes */
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}            

.container{
    max-width: 1180px;
    margin-inline: auto;  /*short-hand property of m-i-(start,end) */
    padding-inline: var(--padding-inline-section);
}
.flex{
    display: flex;
   /* align-items:center;  /* text or background come to centre */
}
li{
    list-style: none;
}

/* top-banner */
.top-banner{
  background-color:#e74694;
  background-image: url(./Assets/asset\ 32.png);
  background-size: 300px;
}
.banner-text{
    text-align:center;
    font-size: small;
    padding: 15px 20px;  /* top-bottom left-right */
    color: white;
}

/*nav-bar */
.company-logo{
    max-width: 200px;
    max-height: 40px;
}
.main-nav{
    justify-content: space-between;
    margin-top: 20px;
}
.nav-ele ul{
    justify-content: end; /*all nav element mov to right-end */
    gap: 30px;
}
.nav-ele{
  /*  flex-basis: 730px; /* Width increases to 730px but height not increases */
}
.hover-link{
    color:var(--primary-text-color);
    transition: 0.2s ease-out;
    margin-top: 10px;
}
.hover-link:hover{
    color: var(--accent-color);
}

.secondary-button{
    border:0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    padding:12px 24px;
    font-weight:500;
    color: var(--accent-color-dark);
}
.secondary-button:hover{
    border-color: #2294ed;
    color: var(--accent-color);
}
.primary-button{
    background-color:var(--accent-color);
    color: white !important;
    border-radius: 6px;
    font-weight: 550;
    padding:12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;  
    }
    .primary-button:hover{
    background-color: var(--accent-color-dark);
    transition: 0.2s ease-out;  
    }

    header{
        padding:50px var(--padding-inline-section)0;  /* left-right top-bottom */
    }
    .header-section{
        justify-content: center;
        gap: 50px;
    }
    .header-right img{
        width:600px;
    }
    .header-left{
       /* text-align: center; */
    }
    .header-left h1{
        margin-top: 80px;
        margin-bottom: 10px;
        font-size:2.5rem;
    }
    .para{
        color: #577592;
        font-size: 1.1rem;
    }
    .get-start-button{
        margin-top: 30px;
    }


    /* Companies Section */
    .upper{
        margin-top: 50px;
        text-align: center;
        font-weight:500;
      /*  margin-bottom: 50px;  //margin from top-bottom */
      margin-bottom: 30px;
    }
    .logo{
        height: 46px;
    }
    .company{
        justify-content: space-between;
        margin-bottom: 20px;
    }



    /*Features-Section */
    .features-header{
        text-align: center;
    }
    .features-section{
        padding:80px var(--padding-inline-section) 0; /* top left-right bottom */
        background-image: url(./Assets/asset\ 34.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 700px;
        
    }
    .features-header a{
       margin-top: 15px;
    }
    .features-card{
        flex-direction: column;
        gap: 20px;
        max-width: 30%;
        text-align: center;
    }
   .ht{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40px;
   }
   .features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap:40px;  /* Gap between every element  */
    margin-top: 20px;
   }
   .le-bold{
    font-weight: 500;
    color: black;
   }
   .le-small{
    font-size: 1rem;
   }
   .container2{
    max-width: 1000px;
    margin-inline: auto;  /*short-hand property of m-i-(start,end) */
    padding-inline: var(--padding-inline-section);
}
.padd{
    padding:12px 18px !important;
}
